@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;

}

.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
   /* filter: contrast(130%) brightness(750%);
  background: 
	linear-gradient(128deg, rgba(0,0,255,1), rgba(131,35,228,0.62)),
	url(/👆/that/noise.svg);
  background-size: cover;
  background-repeat: no-repeat; */
}

/*navigation bar and header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw 10%;
    background-color: #24252A;
}

.nav__links {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 2vw;

}

/* Header li and a tag styles */
li, a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size:1.5vw;
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.3s ease-in;
    color: gray;
}

.nav__links li {
    display:inline-block;
    padding: 0, 20%;
    margin-left: 0.5vw;
}



.careersHeader{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: rgb(16, 16, 16);
  padding: 30px;
}


.search{
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #000000;
  scale: 0.9;
  overflow: hidden;
}


.search.active{
  width:360px;
}


.search .icon{
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:10000;
  cursor: pointer;
}

.search .icon::before{
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-radius: 500px;
  transform: translate(-4px,-4px);
}


.search .icon::after{
  content:'';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #000000;
  transform: translate(6px,6px) rotate(315deg);
  
}

.search .input{
  position: relative;
  width: 300px;
  height:60px;
  left:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search .input input{
  position: absolute;
  width:100%;
  height:100%;
  border: none;
  outline: none;
  padding:11px;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
}

.clearSearch{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:15px;
  height:15px;
  right:15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearSearch::before{
  position: absolute;
  content: '';
  width:1px;
  height:15px;
  background:#999;
  transform: rotate(45deg);
}

.clearSearch::after{
  position: absolute;
  content: '';
  width:1px;
  height:15px;
  background:#999;
  transform: rotate(315deg);
}

/*SALARY SLIDER*/
.salaryFilter{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:350px;
  color:rgb(244,244,244);
}
.price-input{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.price-input * {
  display: inline-flex;
  text-align: center;
  font-size:medium;
  font-family: 'Josefin Sans', sans-serif;
  padding:4px;
}
.salary{
  display: flex;
  justify-content: center;
  align-items: center;
  width:90px;
  height:25px;
}
.salaryDoller{
  border-radius: 5px;
  border-style:solid;
  border-width:1px;
  border-style: solid;
  border-color:rgb(164,164,164);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.salaryInput{
  font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width:55px;
    color:rgb(244,244,244);
    background-color:transparent;
    border-color:rgb(164,164,164);
}
.salaryInput:focus{
  outline-width:0;
}

#salaryTitle{
  white-space: nowrap;
  margin-right: 25px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.salarySlider{
  display: flex;
  flex-direction: row-reverse; /* Change direction to have it aligned from right to left */
  justify-content: flex-start; /* Adjust alignment */
}

.slider{
  height: 5px;
  border-radius: 5px;
  background: #838383;
  position: relative;
  width:310px;
}

.slider .progress{
  height: 5px;
  left:25%;
  right:25%;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(158, 255, 255);
}

.range-input{
  position: relative;
}

.range-input input{
  position: absolute;
  height:5px;
  width:305px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 14px;
  width:14px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: rgb(158, 255, 255);
  margin-top: -0.4vh;
}



.careersBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    white-space: nowrap;
    flex-wrap: wrap;
}
.leftCareersBanner{
    display:inline-flex;
    align-items: center;
}
#numOfJobs{
    border: 1px solid rgba(0, 0, 0, 0.345);
    color:rgb(16,16,16);
    padding:6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:15px;
    border-radius: 500px;
}

.content{
    display:flex;
}

.sortBy{
    display:flex;
    align-items: center;
    cursor: pointer;
    margin-left:10px;
}
#sortByTitle{
    margin-right: 8px;
    color:rgb(164,164,164);
}
#sortByFilter{
    margin-right: 12px;
}
.sortBy svg{
  width: 20px;
  height: 20px;
}



.rotate-90 {
  transform: rotate(180deg);
  transition: transform 0.7s;
}

.filters{
    width:200px;
    margin: 2%;
    white-space: nowrap;
}
.filtersHeader{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.filtersAndCaret{
  display: flex;
  align-items: center;
}
#filtersCaret{
  margin-right: 10px;
  margin-left: 5px;
}
.workingScheduleHeader, .employmentTypeHeader{
  align-items: center;
}
.clear{
    cursor: pointer;
    color:gray;
}

#toggleSidebar{
    cursor:pointer;
}

.sidebar__container{
    display:inline-flex;
    position: relative;
}
.sidebar__container .sidebar{
    width:200px;
    height:380px;
    background: rgba(163, 230, 255, 0.505);
    overflow:hidden;
    transition: 0.7s;
    border-radius: 10px;
}

.sidebar__container .box{
    display:block;
}
.allCheckboxes{
  padding-left:10px;
  padding-right:10px;
}
input[type="checkbox"]{
    margin-right: 20px;
    margin-bottom: 10px;
}

  
   




.allJobs{
  
    display:flex;
    flex-wrap: wrap;
    margin: auto;
}


.jobContainer{
    flex: 1;
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 45px;
    border-radius:11px;
    box-sizing: inherit;
    padding:7px;
    margin:15px;
    min-width: 300px;
}


.jobColorContainer{
    background-color: rgb(163, 231, 255);
    border-radius:11px;
    padding:10px;
}

.jobContainerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#date{
    display:inline-block;
    background-color:rgb(244,244,244);
    color:rgb(16,16,16);
    padding:10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 500px;
    margin-top:7px;
    margin-bottom:7px;
}

#bookmark{
    background-color:rgb(244,244,244);
    border-radius: 500px;
padding: 8px;
padding-left: 9px;
padding-right: 9px;
    width:14px;
height: 17px;
cursor: pointer;
}

#jobTitle{
    word-wrap: 2ch;
    margin-top:0;
    margin-bottom:0;
}

.allTags{
    display:inline-flex;
    flex-wrap: wrap;
    margin-top:14px;
}

.tag{
    display:inline-block;
    border: 1px solid rgba(0, 0, 0, 0.345);
    margin-right:8px;
    margin-top:8px;
    margin-bottom:0;
    font-size: 13px;
    color:rgb(16,16,16);
    padding:8px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 500px;
    white-space: nowrap ;
}

.jobBottomContainer{
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    display:inline-flex;
}

#location{
    color:rgb(164,164,164);
    padding-right: 50px;
    white-space: nowrap ;
}
.applyNow{
    display:inline-block;
    white-space: nowrap;
    background-color:rgb(16,16,16);
    color:rgb(244,244,244);
    padding:8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 500px;
}