@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Beginning navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: #24252A;
}

.nav__links {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 16px;

}

/* Header li and a tag styles */
li, a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size:12px;
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.3s ease-in;
    color: gray;
}

.nav__links li {
    display:inline-block;
    padding: 0px, 20px;
    margin-left: 40px;
}

/* Divider b/w header and main */

hr {
    opacity: 30%;
    color: white;
    height:2px;
}


body{
    font-family: 'Josefin Sans', sans-serif;
}



.container{
    margin: 2%;
}

#applyingBanner{
    display:inline-block;
    background-color:lightseagreen;
    padding:4px;
    padding-left: 30px;
    padding-right: 30px;
    margin:0%;
    font-size:15px;
    white-space: nowrap ;
    border-radius: 11px;
    border-bottom-left-radius: 0px;
}

hr{
    margin-top:2%;
    margin-bottom: 2%;
    
}


table{
    display:inline-flex;
    margin:2%;
}

#categoryEmoji{
    font-size: 22px;

}
#category{
    padding-left:15px;
    color: grey;
    font-size:13px;
    white-space: nowrap ;
}
#title{
    padding-left:15px;
    font-size:15px;
}

p{
    font-size:14px;
    line-height: 1.5;
}



.flexTextFieldContainer {
    display: flex;
    width: 100%;
    margin:auto;

  }


  .textField:focus{
    outline-width:0;
  }
  
  .textField {
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
    padding: 12px;
    padding-left: 0;
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(255, 105, 105);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(128, 128, 128, 0.35);
    margin-right: 5px;
    border-left: none;
  }

  svg{
    padding: 5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-style: solid;
    border-color: rgb(255, 105, 105);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-color: rgba(128, 128, 128, 0.35);
  }

  .optional{
    border: none;
  }
  
  .textField:last-child {
    margin-right: 0;
  }


  select{
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    border:none;
    cursor:pointer;
  }

  select:focus{
    outline-width:0;
  }

input[type="file"]::file-selector-button {
    font-family: 'Josefin Sans', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}