@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/*navigation bar and header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: #24252A;
}

.nav__links {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 25p;

}

/* Header li and a tag styles */
li, a, #nav_button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size:16px;
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.3s ease-in;
    color: gray;
}

.nav__links li {
    display:inline-block;
    padding: 0, 20px;
    margin-left: 0.5vw;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:#0088a9;
}

#nav_button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border-radius: 50px;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

#nav_button:hover {
    background: blue;
}

/* Divider b/w header and main */

hr {
    opacity: 30%;
    color: white;
}

/* Main content */

.main__content {
    background-color: #e0e0c8;
}

.what_are_we{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 25%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200%;
    background-image: linear-gradient(rgb(0, 139, 134), lightblue), url(peoplecodingtogether.jpeg);
    color: white;
    z-index: 2;
}

.information{
    margin: 1.75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 10%;
    border: solid;
    border-radius: 4%;
    border-width: 5px;
}

.image_fit{
    display:flex;
    width: 40%;
    height: 40%;
    z-index: 1;

}

#services{
    display: grid;
    column-count: 3;
}

.service{
    background-color: darkblue;
    border-radius: 25%;

}