@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

/*navigation bar and header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw 10%;
    background-color: #24252A;
}

.nav__links {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 2vw;

}

/* Header li and a tag styles */
li, a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size:1.5vw;
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.3s ease-in;
    color: gray;
}

.nav__links li {
    display:inline-block;
    padding: 0, 20%;
    margin-left: 0.5vw;
}

/*Overarching Styles */
/*Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
    height: 50vh;
    background-color: white;
     
}

/*Below is code for a SINGLE element. Anything ABOVE does NOT deal with a single career */
.singleJob {
    width: 18.5vw;    
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    border: 0.12vw solid rgb(215, 215, 215);
    box-shadow: 45px;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 4%;
    padding: 0.1%;
}

.inner {    
    background-color: rgb(233, 193, 156);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4%;
    height:auto;
    padding-bottom:2vh;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

/*Elemental Styles */
.capsule {
    background-color: white;
    width: 7vw;
    height: 1.9vw;
    border-radius: 500px;
    margin: 2%;
    margin-bottom: 3%;
    display: inline-flex;    
    align-items: center;
    font-size: 1vw;
    justify-content: center;
}

.bookmark{ 
    background-color: white;
    width: 1.9vw;
    height: 1.9vw;
    border-radius: 50%;
    position: absolute;
    display: inline-flex;   
    top: 2%;
    left:88%; 
    align-items: center;
    font-size: 0.85vw;
    justify-content: center;
}

.tags{
    border: 0.15vw solid rgba(0, 0, 0, 0.639); /* Optional: Add a border to visualize the box */   
    height: 1vw;
    border-radius: 500px;
    margin: 1%;
    display: inline-flex;    
    align-items: center;
    font-size: 0.7vw;
    padding:2%;
    justify-content: center;
}

#tagName {
    font-weight: 400px;
}

/*Details Capsule */
.info{
    display: inline-block;
    position: relative;
    bottom: 0.9vw;
}

.details{
    background-color: black;
    width: 7vw;
    height: 1.9vw;
    border-radius: 500px;
    display: flex;    
    align-items: center;
    font-size: 1vw;
    color: white;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.details:hover {
    background: gray;
    transition: 0.5s ease-out;
}

/*Company (Amazon) */
#company{
    margin: 2%; 
    font-size: 1.5vw;
}

/*Job title (i.e. UI/UX Design) */
#job_title{
    margin: 2%;
    font-size: 2vw;
}

/*Div class for the next two styles */
.importance {
    width:50%;
    display: inline-block;
}

/*Salary ($250/hour)*/
#salary{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9vw;
}

/*Location (San Francisco, CA)*/
#location {
    font-size: 0.9vw;
    font-family: 'Josefin Sans', sans-serif;
}

