@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white ;
}

.singleJob {
    width: 18.25vw;    
    height: 18.25vw;
    flex-direction: column;
    justify-content: space-between;
    border: 0.12vw solid rgb(215, 215, 215);
    box-shadow: 45px;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 4%;
    padding: 0.1%;
}

.inner {    
    background-color: rgb(255, 218, 193);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4%;
    height:75%;
    margin-bottom: 2%;
    padding-bottom:2vh;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.capsule {
    background-color: white;
    width: 7vw;
    height: 1.9vw;
    border-radius: 500px;
    margin: 4%;
    margin-bottom: 3%;
    display: inline-flex;    
    align-items: center;
    font-size: 1vw;
    justify-content: center;
}

#company{
    margin: 4%; 
    font-size: 1.5vw;
}

#job_title{
    margin: 4%;
    font-size: 2vw;
}


.bookmark{ 
    background-color: white;
    width: 1.9vw;
    height: 1.9vw;
    border-radius: 50%;
    position: absolute;
    display: inline-flex;
    margin: 4%;   
    left:80%; 
    align-items: center;
    font-size: 0.85vw;
    justify-content: center;
}



.tags{
    border: 0.15vw solid rgba(107, 107, 107, 0.639); /* Optional: Add a border to visualize the box */   
    height: 1vw;
    border-radius: 500px;
    margin: 1%;
    display: inline-flex;    
    align-items: center;
    font-size: 0.7vw;
    padding:2%;
    justify-content: center;
}

.outer{
    margin:4%;

}


#salary{
    font-size: 1vw;

}
