<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'Careers.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<script src="https://kit.fontawesome.com/258ae76979.js" crossorigin="anonymous"></script>

<body>
  <header>
    <h1 class="logo">Virtual Systems</h1>
    <nav>
      <ul class="nav__links">
        <li><a href="/">Home</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </nav>
    <a class="Login"><button id="nav_button">Login</button></a>
  </header>

  <div class="banner">
    <div class="search">
      <div class="icon"></div>
      <div class="input">
        <input type="text" placeholder="Search" id="mySearch">
      </div>
      <span class="clear" onclick="document.getElementById('mySearch').value = ''"></span>
    </div>


    <!-- <input type="text" name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00"> -->
    <div class="price-input">
      <p id="salaryTitle">Salary range</p>
      <p>$</p>
      <input type="number" class="input-min" data-type="currency" value="2500">
      <div class="seperator">-</div>
      <p>$</p>
      <input type="number" class="input-max" data-type="currency" value="7500">
    </div>

    <div class="slider">
      <div class="progress"></div>
    </div>
    <div class="range-input">
      <input type="range" class="range-min" min="0" max="10000" value="2500">
      <input type="range" class="range-max" min="0" max="10000" value="7500">
    </div>
  </div>

  <div id="mySidenav" class="sidenav">

    <div class="allCheckboxes">
      <p style="color: rgba(0, 0, 0, 0.455);">Working schedule</p>
      <label class="box">Full time
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Part time
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Internship
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Project work
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Volunteering
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <p style="color: rgba(0, 0, 0, 0.455);"><br>Employment type</p>

      <label class="box">Full day
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Flexible schedule
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Shift work
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Distant work
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="box">Shift method
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>


    </div>
  </div>

  <div class="jobsBanner">
    <p>Recommended jobs</p>
    <p id="numOfJobs">{{count}}</p>

    <div class="sort">
      <p id="sortByText">Sort by:</p>
      <p id="sortingByText">Last updated</p>
      <i class="fa-solid fa-filter"></i>
    </div>
  </div>

  <div id="filtersOpen" onclick="toggleNav()">
    <p>Filters</p>
    <i id="toggleFiltersCaret" class="fa-solid fa-caret-right"></i>
  </div>


  <div id="main">
    <div class="container">
      <div class="grid">
        {% for job in jobs %}
          <div class="singleJob">
            <!--brown stuff-->
            <div class="inner">
              <div class="capsule">
                <p id="month">20 May, 2023</p>
              </div>

              <div class="bookmark">
                <i id="toggleBookmark" class="fa-regular fa-bookmark" style="color: #006da3"></i>
              </div>

              <p id="company">{{job.jobCompany}}</p>
              <p id="job_title">{{job.jobTitle}}</p>
              {% for tag in job.tags.all %}
                <span class="tags">
                  <p id="tagName">{{tag.name}}</p>
                </span>
              {% endfor %}
            </div>

            <!--non-brown stuff-->
            <div class="importance">
              <p id="salary">${{job.hourlyWage}}</p>
              <p id="location">{{job.city}}, {{job.state}}</p>
            </div>
            <div class="info">
              <div class="details">
                <p id="detailsText">Details</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{% static 'careers.js' %}" defer></script>
</body>

</html>