@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
     padding: 0;
     
}

body {
    background-color: #111111;
    background: linear-gradient(to right, #4b4b4b, #242424);
    display: flex;
    z-index: -3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    padding: 40px;
    min-width: 50vw;
    min-height: 12vh;
    z-index:1;
}

.container h2 {
    display:flex;
    justify-content: center;
    font-weight: 400px;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.actualForm {
    padding: 15px;
}

input[type="submit"] {
    color:white;
    background-color: purple;
    padding: 10px 45px;
    border-radius: 20px;
    border: 1px solid transparent;
    
}

input[type="submit"]:hover {
    background-color: pink;
    transition: 0.5s ease-in-out;
}

.graphics {
    position: absolute;
    z-index: -5;
    height:100%;
    width:50%;
    border-radius: 500px;
    background-color: blue;
    z-index:0;
}