@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Beginning navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: #24252A;
}

.nav_links {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 16px;

}

/* Header li and a tag styles */
li, a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size:12px;
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.3s ease-in;
    color: gray;
}

.nav_links li {
    display:inline-block;
    padding: 0px, 20px;
    margin-left: 40px;
}

/* Divider b/w header and main */

hr {
    opacity: 30%;
    color: white;
}

/* Main content */

.main__content {
    background-color: #e0e0c8;
}

#text_plus_image{
    display: flex;
    justify-content: left;
    padding: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200%;
    background: scroll;
    background-color: gray;
    background-image: url(5\ types\ of\ power.png);
    background-repeat:round;
    backgroundrep
}


#what_are_we{
    padding: 3%;
}