@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/*navigation bar and header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 10%;
  background-color: #24252A;
}

.nav__links {
  text-decoration: none;
  color: white;
  list-style: none;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 25p;

}

/* Header li and a tag styles */
li, a, #nav_button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size:16px;
  text-decoration: none;
  color: white;
}

a:hover {
  transition: all 0.3s ease-in;
  color: gray;
}

.nav__links li {
  display:inline-block;
  padding: 0, 20px;
  margin-left: 0.5vw;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color:#0088a9;
}

#nav_button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  border: none;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

#nav_button:hover {
  background: blue;
}

/*Overarching Styles */
/*Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

.banner{
  background-color: rgb(16, 16, 16);
  padding: 4%;
}


.search{
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #000000;
  overflow: hidden;
}

.search.active{
  width:360px;
}

.search .icon{
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:10000;
  cursor: pointer;
}

.search .icon::before{
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}


.search .icon::after{
  content:'';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #000000;
  transform: translate(6px,6px) rotate(315deg);
  
}

.search .input{
  position: relative;
  width: 300px;
  height:60px;
  left:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input{
  position: absolute;
  width:100%;
  height:100%;
  border: none;
  outline: none;
  padding:11px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.9vw;
}

.clear{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:15px;
  height:15px;
  right:15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before{
  position: absolute;
  content: '';
  width:1px;
  height:15px;
  background:#999;
  transform: rotate(45deg);
}

.clear::after{
  position: absolute;
  content: '';
  width:1px;
  height:15px;
  background:#999;
  transform: rotate(315deg);
}

/*SALARY SLIDER*/
.price-input * {
  display: inline-flex;
  outline: none;
  font-size: 19px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  background: none;
  font-size: 0.9vw;
  width:3%;
  border: none;
  color:white;
  margin-bottom: 2%;
}

#salaryTitle{
  width:6%;
  margin-right: 2%;
}

.price-input p{
  width:0.001px;
  margin-right:2px;
}

.seperator{
  width:1px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.slider{
  height: 5px;
  border-radius: 5px;
  background: #838383;
  position: relative;
  width:17%;
}

.slider .progress{
  height: 5px;
  left:25%;
  right:25%;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(158, 255, 255);
}

.range-input{
  position: relative;
}

.range-input input{
  position: absolute;
  top:-5px;
  height:5px;
  width:17%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
  height: 1vw;
  width:1vw;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: rgb(158, 255, 255);
  margin-top: -0.4vh;
}
.container {
    display: flex;
    justify-content: center;
    background-color: white;
}

/*Below is code for a SINGLE element. Anything ABOVE does NOT deal with a single career */
.singleJob {
    width: 18.5vw;    
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    border: 0.12vw solid rgb(215, 215, 215);
    box-shadow: 45px;
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 4%;
    padding: 0.1%;
}

.inner {    
    background-color: rgb(156, 221, 254);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4%;
    height:auto;
    padding-bottom:2vh;
    position: relative;
    position: relative;
    margin:2%;
    padding:3%;
}

/*Elemental Styles */
.capsule {
    background-color: white;
    width: 7vw;
    height: 1.9vw;
    border-radius: 500px;
    margin: 2%;
    margin-bottom: 3%;
    display: inline-flex;    
    align-items: center;
    font-size: 0.9vw;
    justify-content: center;
}

.bookmark{ 
    background-color: white;
    width: 1.9vw;
    height: 1.9vw;
    border-radius: 50%;
    position: absolute;
    display: inline-flex;   
    top: 5.9%;
    left:83%;
    align-items: center;
    font-size: 0.85vw;
    justify-content: center;
}

.tags{
    border: 0.12vw solid rgba(0, 0, 0, 0.339); /* Optional: Add a border to visualize the box */   
    height: 0.68vw;
    border-radius: 500px;
    margin: 1%;
    display: inline-flex;    
    align-items: center;
    font-size: 0.8vw;
    padding:2.8%;
    justify-content: center;
}

#tagName {
    font-weight: 400px;
}

/*Details Capsule */
.info{
    display: inline-block;
    position: relative;
    bottom: 0.9vw;
}

.details{
    background-color: black;
    width: 5vw;
    height: 1.9vw;
    border-radius: 500px;
    display: flex;    
    align-items: center;
    font-size: 1vw;
    color: white;
    justify-content: center;
    margin-left:55%;
}

.details:hover {
    background: gray;
    transition: 0.5s ease-out;
}

/*Company (Amazon) */
#company{
    margin: 2%; 
    font-size: 1.5vw;
}

/*Job title (i.e. UI/UX Design) */
#job_title{
    margin: 2%;
    font-size: 2vw;
}

/*Div class for the next two styles */
.importance {
    width:50%;
    display: inline-block;
}

/*Salary ($250/hour)*/
#salary{
    font-size: 1.1vw;
    margin-left: 13%;
}

/*Location (San Francisco, CA)*/
#location {
    font-size: 0.9vw;
    color: rgba(0, 0, 0, 0.575);
    margin-left: 13%;
    margin-top:-8%;
}

.jobsBanner{
  display: inline-flex;
  font-size: 2.5vw;
  white-space: nowrap ;
  margin:2%;
}

#numOfJobs{
  display: flex;    
  align-items: center;
  justify-content: center;
  width:9vw;
  height: 3vw;
  border-radius: 500px;
  font-size: 2vw;
  color: rgb(0, 0, 0);
  margin-left:9%;
  margin-top:4%;
  border: 0.12vw solid rgba(0, 0, 0, 0.339);
}

.sort *{
  display: inline-flex;
  font-size: 1.2vw;
  cursor: pointer;
  margin-top:19%;
  margin-left:1px;
}

#sortByText{
  color:gray;
}

  #filtersOpen{
    font-size: 2vw;
    margin:5%;
    display: inline-flex;
    width:100%;
    cursor: pointer;
  }

  #toggleFiltersCaret{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 2vw;
  }

  .sidenav {
    height: 45%;
    width: 0;
    top: 25%; /* Stay at the top */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin:5%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



/* Checklist */
.allCheckboxes{
    margin:2%;
}
/* Customize the label (the box) */
.box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.9vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1vw;
    width: 1vw;
    background-color: #eee;
    border-radius: 25%;
    
  }

  .input-min::before {
    content:"$"
  }
  
  /* On mouse-over, add a grey background color */
  .box :hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .box input:checked ~ .checkmark {
    background-color: #000000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .box input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .box .checkmark:after {
    top: 0.05vw;
    left: 0.28vw;
    width: 0.25vw;
    height: 0.5vw;
    border: solid rgb(255, 255, 255);
    border-width: 0 3.85px 3.85px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0.15vw;
  }