@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/*navigation bar and header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 10%;
  background-color: #24252A;
}

header *{
  white-space: nowrap;
}
.nav__links {
  text-decoration: none;
  color: white;
  list-style: none;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 25px;

}

/* Header li and a tag styles */
li, a, #nav_button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size:16px;
  text-decoration: none;
  color: white;
}

a:hover {
  transition: all 0.3s ease-in;
  color: gray;
}

.nav__links li {
  display:inline-block;
  padding: 0, 20px;
  margin-left: 0.5vw;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color:#0088a9;
}

#nav_button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  border: none;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

#nav_button:hover {
  background: blue;
}


.container{
    margin: 2%;
}


.jobTitleBanner {
  text-align: center;
  background-size: cover;
  padding: 50px;
  color: rgb(244,244,244);
}


#applyingBanner{
    display:inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.55);
    
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding:8px;
    padding-left: 30px;
    padding-right: 30px;
    margin:10px;
    font-size:15px;
    white-space: nowrap ;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    z-index: 1;
}

hr{
    margin-top:2%;
    margin-bottom: 2%;
    
}


table{
    display:inline-flex;
    margin:2%;
}

#categoryEmoji{
    font-size: 22px;

}
#category{
    padding-left:15px;
    color: grey;
    font-size:13px;
    white-space: nowrap ;
}
#title{
    padding-left:15px;
    font-size:15px;
}


.summaryAndOverview{
  display: flex;
}
.summaryAndOverview p{
    font-size:15px;
    line-height: 2;
    width: 67%;
    margin-right: 40px;
}

.overview{
  background-color: rgba(163, 230, 255, 0.505);
  border-radius: 10px;
  padding: 10px;
  width: 33%;
  display: flex; /* Set container to flex */
  flex-direction: column;
  justify-content: space-evenly;
}

.allOverviewsContainer {
  height:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom:20px;
}

.overviewTopicContainer{
  display: flex;
  align-items: center;
}
.topic{
  color: gray;
}
.companyTopic{
  margin-left: auto; /* Push the companyTopic to the right */
  margin-right: 0;
}
.overviewTopicContainer h3 {
  flex-grow: 1; /* Allow h3 elements to grow and take up remaining space */
}

.applyNowButton{
  display: flex;
  justify-content: center;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  width: 80%; 
  border-radius: 10px;

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.flexTextFieldContainer {
    display: flex;
    width: 100%;
    margin:auto;

  }


  .textField:focus{
    outline-width:0;
  }
  
  .textField {
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
    padding: 12px;
    padding-left: 0;
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(255, 105, 105);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(128, 128, 128, 0.35);
    margin-right: 5px;
    border-left: none;
  }

  svg{
    padding: 5px;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-style: solid;
    border-color: rgb(255, 105, 105);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-color: rgba(128, 128, 128, 0.35);
  }

  .optional{
    border: none;
    padding:6px;
  }
  
  .textField:last-child {
    margin-right: 0;
  }


  select{
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    padding: 7px;
  }

  select:focus{
    outline-width:0;
  }
input[type="file"]::file-selector-button {
    font-family: 'Josefin Sans', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  padding: 4px;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    top:-4px;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  
}

  li {
    margin: 16px 0;
    position: relative;
  }




* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.submitButton{
  display: flex;
  justify-content: center;
  margin: 20px;
}


.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  --light: #fff;
  --dark: #414856;
  --border: #C3C8DE;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  padding: 0 30px;
  width: auto;
  height: 60px;
  border-radius: 2px;
  border: 1px solid var(--border);
  background: none;
  color: var(--dark);
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 30px rgba(#414856, 0.1);
  transition: transform .1s linear,
    color .1s linear,
    background .15s linear;
  > span {
    display: inline-block;
    position: relative;
    transition: transform .15s linear;
  }
  &.fill {
    border: 0;
    color: var(--light);
    background-size: cover;
  }
}